@import "tailwindcss";

@plugin "daisyui" {
  themes: business --default;
}

@theme {
  --font-sans: "Inter", "Inter Fallback", sans-serif;
  --font-serif: "Instrument Serif", "Georgia", serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", monospace;
}
